<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    <div class="productos">
    <% if(productos.length>0) { %>
    <ul class="lista-carrito">        
        <% for(let producto = 0; producto < productos.length; producto++){ %> 
        <li class="lista-carrito--item">
            <h3 class="lista-item--title" name="<%= productos[producto].nombre %>" </h3> <%= productos[producto].nombre %> </h3>

            <label for="cantidad-<%= productos[producto].qty %>">Cantidad <input type="number" name="cantidad-<%= productos[producto].qty %>" id="cantidad-<%= productos[producto].qty %>" value="<%=productos[producto].qty%>" min=0 class="lista-item--cantidad"></label>
            <form action="/carrito/eliminar" method="post">
                <input type="text" hidden name="id" value="<%=productos[producto].id%>">
                <button class="lista-item--btn-eliminar" type="submit">Eliminar</button>
            </form>
        </li>
        <% }  %>
    </ul>
    <h3>Total <%=total%></h3>
    <form class="productos" method=POST action= '/realizarcompra'>
<input type="submit" value="Comprar!" class="productos-item--btn-compra">
    </form>
        <% } else {%>
            
        <h1><a href="/productos" class="link-volver">Agregar productos a el carrito</a></h1>
        
        <% }  %>
      
    </div>   
<%- include('includes/end.ejs') %>