<%- include('includes/head.ejs') %> <%- include('includes/nav.ejs') %>
<div class="contenedor-formulario">
	<h1>Agregar un nuevo producto</h1>
	<form action="<%= editar =='true' ? '/admin/actualizar/'+id : '/admin/nuevoproducto' %>" method="post" class="formulario">
		<label for="producto" class="formulario-label">Nombre</label>
		<input
			type="text"
			name="nombre"
			id="producto"
			placeholder="nombre del nuevo producto"
			required
			class="formulario-item--input"
			value="<%= nombre%>"
		/>
		<label for="cantidad" class="formulario-label">Disponibles</label>
		<input
			type="number"
			min="0"
			name="cantidad"
			id="disponibles"
			placeholder="Disponibles"
			required
			class="formulario-item--input"
			value="<%= cantidad%>"
		/>
		<label for="precio" class="formulario-label">Precio</label>
		<input
			type="number"
			min="0"
			name="precio"
			step=".1"
			id="precio"
			placeholder="precio"
			required
			class="formulario-item--input"
			value="<%= precio%>"
		/>
		<label for="imagen" class="formulario-label">Imagen</label>
		<input
			type="text"
			name="imagen"
			id="imagen"
			placeholder="link de la imagen de portada"
			value="<%= imagen%>"
			class="formulario-item--input"
		/>
		<button type="submit" class="formulario-item--btn">Enviar</button>
	</form>
</div>
