<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<div class="productos">
    <% if(productos.length>0) { %>
    <ul class="lista-productos">        
        <% for(let producto = 0; producto < productos.length; producto++){ %> 
            
        <li class="lista-productos--item">
        
            <input readonly value="<%= productos[producto].nombre %>" name="nombre" class='lista-item--titulo'>
            <img src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2015%2F06%2F521811839-copy.jpg&w=1000&c=sc&poi=face&q=70"
                alt="libro" class="list-item--img">
                <b>Disponibles <%= productos[producto].cantidad %> </b>
            <a class="lista-item--btnn" href ="/producto/editar/<%=productos[producto].id%>?editar=true">Editar</a>
        
        </li>
        
        <% }  %>
    </ul>
        <% } else {%>
            
        <h1>No hay productos en el la tienda</h1>
        
        <% }  %>
    
</div>
<%- include('includes/end.ejs') %>