<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<div class="contenido">
    <h1 class="contenido-title">Catalogo de productos</h1>

    <%if(error) {%>

        <div class="card-mensaje card-mensaje--error"><%=error%></div>
        <%}%>
    <div class="card">
        <h3 class="card-title">Registro</h3>
        <form action="/registro" method="post" class="form-login">
        <label for="correo">Correo <input type="text" class="<%= errorsInput.find(i => i.param=='correo') ? 'card-item--error':''%>" value="<%=cacheInput.correo%>" name="correo" id="correo" required placeholder="Ingresa tu correo"></label>
        <label for="usuario">Usuario <input type="text" class="<%= errorsInput.find(i => i.param=='usuario') ? 'card-item--error':''%>" name="usuario" id="usuario" value="<%=cacheInput.usuario%>" required placeholder="Ingresa tu usuario"></label>
        <label for="contraseña">Contraseña <input type="password" class="<%= errorsInput.find(i => i.param=='contraseña') ? 'card-item--error':''%>" name="contraseña" id="contraseña" value="<%=cacheInput.contraseña%>" required placeholder="Ingresa tu contraseña"></label>
        <label for="contraseñaR">Repite Contraseña <input type="password" name="contraseñaR" class="<%= errorsInput.find(i => i.param=='contraseñaR') ? 'card-item--error':''%>" id="contraseñaR" value="<%=cacheInput.contraseñaR%>" required placeholder="repite tu contraseña"></label>
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <input type="submit" value="Registrar">
    </form>
    </div>
</div>
<script src="js/validator/validator.js"></script>
<script>
    let correo_i = document.querySelector('#correo')
    let pass = document.querySelector('#contraseña')
    let pass_r= document.querySelector('#contraseñaR')
    
    correo_i.addEventListener('change',(e)=> {
        e.preventDefault()
        if(validator.isEmail(e.target.value)){ 
            console.log('email');                                               
        }    
        else 
        { 
            console.log('no email');            
            e.target.value = ''                      
            e.target.setAttribute('placeholder','Agrega un email correcto!')                    
            correo_i.focus();
        }
    })
    pass_r.addEventListener('change',(e)=>{
        let valor = pass.value;
        if(valor === e.target.value &&validator.isLength(valor,{min:8}) && validator.isAlphanumeric(valor,['ar', 'ar-AE', 'ar-BH', 'ar-DZ', 'ar-EG', 'ar-IQ', 'ar-JO', 'ar-KW', 'ar-LB', 'ar-LY', 'ar-MA', 'ar-QA', 'ar-QM', 'ar-SA', 'ar-SD', 'ar-SY', 'ar-TN', 'ar-YE', 'bg-BG', 'cs-CZ', 'da-DK', 'de-DE', 'el-GR', 'en-AU', 'en-GB', 'en-HK', 'en-IN', 'en-NZ', 'en-US', 'en-ZA', 'en-ZM', 'es-ES', 'fr-FR', 'hu-HU', 'it-IT', 'ku-IQ', 'nb-NO', 'nl-NL', 'nn-NO', 'pl-PL', 'pt-BR', 'pt-PT', 'ru-RU', 'sl-SI', 'sk-SK', 'sr-RS', 'sr-RS@latin', 'sv-SE', 'tr-TR', 'uk-UA'])){ 
            console.log('passwork igual');                                                         
        }    
        else 
        {             
            e.target.value = ''                      
            e.target.setAttribute('placeholder','Las contraseñas son invalidas!')                    
            
            pass.value = ''                      
            pass.setAttribute('placeholder','Las contraseñas son invalidas!')                    
            pass.focus()
        }
    })

</script>
<%- include('includes/end.ejs') %>